* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: seashell;
}

h1 {
  background-color: rgb(44, 56, 56);
  color: white;
  height: 5rem;
  /* for vertically align center use line-height same as height */
  line-height: 5rem;
}

.choice {
  height: 200px;
  width: 200px;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice:hover {
  opacity: 0.8;
  cursor: pointer;
  scale: 1.05;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: rgb(44, 56, 56);
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
